body
{
    background-color: teal;
}
img
{
 position: relative;
 top: 30px;
 left: 40px;
}
.br
{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.br::before
{
    position: absolute;
    content: "sorry!"  attr(alt) "image broken";
    background: white;
    height: 30px;
    min-width: 500px;
    padding: 8px 5px 5px 20px;
    color: #222;
    background-image: url(./img/c.png);
    background-size: 43px;
    background-repeat: no-repeat;
    background-position:75px -0.5px ;
    border: 1.2px dashed #777;
    box-shadow: 0 0 0 8px white;
    left: 0;
}