body
{
    background: url(./w4.jpg);

}
.c
{
    margin: 35%;
    color: ivory;
    font-size: 150px;
    font-family: 'Montserrat',sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 8px white;
}